
@using EmpressOfLight.Models.ViewModels
@{
    Layout = "_Layout";
}
@model OrderDetail
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

	<div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
							<h5 class="text-muted mb-0">Thanks for your Order, @Model.Order.FirstName @Model.Order.LastName<span style="color: #a8729a;"></span>!</h5>
							<h5 class="text-muted mb-0">Enail: @Model.Order.Email<span style="color: #a8729a;"></span>!</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                            <p class="small text-muted mb-0">Status : @Model.Order.Status </p>
                        </div>
                        <div style="display: none;">
                        </div>
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0">Product</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Name: </p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Quantity:</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Price</p>
                                    </div>
                                </div>
                                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

									@{
										foreach(var p in Model.ProductOrders)
										{
											<div class="row">
												<div class="col-md-2">
													<img src="@p.Size.Product.ProductImgPreview"
														 class="img-fluid" alt="">
												</div>
												<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
													<p class="text-muted mb-0"></p>
												</div>
												<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
													<p class="text-muted mb-0 small">@p.Size.Product.ProductName @p.Size.SizeName</p>
												</div>
												<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
													<p class="text-muted mb-0 small">@p.Quantity</p>
												</div>
												<div class="col-md-2 text-center d-flex justify-content-center align-items-center">
													<p class="text-muted mb-0 small">@p.Price VNĐ</p>
												</div>
											</div>
										}
									}
									
                           
                            </div>
                        </div>

                        
                     

                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                            @* <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Sub Total</span> VNĐ 
                                    </p> *@
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Order Date :  @Model.Order.DateTime</p>
@*                             <p class="text-muted mb-0"><span class="fw-bold me-4">Discount: </span> - VNĐ</p>
 *@                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Receiver Date Maybe: 1 - 7 days since order date</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Fee:</span> + @Model.Order.ShippingFee VNĐ </p>
                        </div>

							<div class="d-flex justify-content-between">
								<p class="text-muted mb-0">Payment Method: @Model.Order.Payment</p>
								<p class="text-muted mb-0"><span class="fw-bold me-4">Discount:</span> - @Model.Order.Discount VNĐ </p>
							</div>

                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0">Receive Address: @Model.Order.Address</p>
                        </div>

                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                         style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                            Total
                            paid: <span class="h2 mb-0 ms-2">@Model.Order.Total VNĐ </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</body>
